<nav class="navbar navbar-expand-lg">
  <div class="container-fluid mx-0 ps-0 container_brand">
    <a class="navbar-brand" routerLink="/home" routerLinkActive="active-link">
      <img src="assets/Component 6 – 10.svg" class="img-fluid image_logo" />
    </a>
    <button
      class="navbar-toggler navbar-toggler-right collapsed"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span></span>
      <span></span>
      <span></span>
    </button>
  </div>
  <div
    class="collapse navbar-collapse justify-content-end"
    id="navbarSupportedContent"
  >
    <div class="d-md-flex justify-content-center align-items-center res">
      <div class="login_part d-flex justify-content-center align-items-center">
        <img class="img-fluid avatar" src="assets/Group 341.svg" />
        <div class="_text mx-3">مرحباَ بك!</div>
        <div class="_name ms-2">محمد أشرف</div>

        <div class="list shadow-sm">
          <div class="list-item">
            <img src="assets/Group 201.svg" />
            <div class="text">الحساب الشخصي</div>
          </div>
          <div class="list-item">
            <img src="assets/Group 371.svg" />
            <div class="text">التقويم</div>
          </div>
          <div class="list-item">
            <img src="assets/Group 202.svg" />
            <div class="text">تسجيل خروج</div>
          </div>
        </div>
      </div>
      <div
        class="language_part d-flex justify-content-center align-items-center"
      >
        <img class="img-fluid me-3" src="assets/Path 719.svg" />
        <div class="_text mx-2">اللغة العربية</div>
      </div>
    </div>
  </div>
</nav>

<div class="imageBac"></div>
